# Folder
train
val
train_
val_
test
train_images
train_annotations
test_images
test_annotations
venv
.venv
__pycache__
wandb
runs
results

# File
*.pt
*.pth
*.out
.env
*.zip
*.tif
*.png
*.jpg
*.csv
*.tfrec
submit*.json
